/*kamome-note sass*/
@import "compass/css3/border-radius";


$header_height: 300px;
$article_gap: 10px;
$c1: #CFD5DF;
$c2: #A1BFE3;
$c3: #8BB0DE;
$c4: #639DE1;
$c5: #6E7C92;


html {
    font-size: 12px;
}
body {
    background-color: $c1;
}

.header-row {
    height: $header_height;
    background-repeat: no-repeat;
    background-position:center;
    background-attachment: fixed;
    background-position: top;

    margin-bottom: $article_gap;
    .site-title {
        display: inline-block;
        margin: 5px;
    }
    .site-description{
        display: inline-block;
        margin: 5px;
        &:before {
            content : '|';
        }
    }
}


.contents-grid_wrapper {
    text-align: center;
}

.post-grid_wrapper {
    position: relative;
	overflow: hidden;
	width: 300px;
    @media only screen and (max-width: 620px) {
        width: auto;
    }
    color:$c1;
    a {
        color:$c1;
    }
    .entry-header {
        padding: 10px;
        position: absolute;
        text-align:left;
    	top: 0;
    	left: 0;
    	z-index: 2;
    	width: 100%;
    	height: 100%;
    	background: rgba($c5,.6);
    	-webkit-transition: .3s;
    	transition: .3s;
    	opacity: 0;
        &:hover {
            opacity:1;
        }
        @media only screen and (max-width: 767px) {
            opacity:0.6;
        }
        .entry-title {
            margin:0;
            font-size:20px;
        }
    }

    display: inline-block;
    background-color: $c3;
    margin: 0;
    .taxonomy-title {
        display: none;
    }
    ul.taxonomy-list {
        li.taxonomy-list-item {
            display:inline;
            &+li.taxonomy-list-item {
                margin-left: 5px;
            }
        }
        margin-left: 0;
        padding-left: 0;
        list-style: none;
    }
}
.post-grid_wrapper.no-thumb {
    .entry-header {
        opacity:1;
    }
}


.sidebar-grid_wrapper {
    padding: 0;
    .widget-title {
        display: none;
    }
    ul {
        margin: 0;
        padding: 0;
        li.cat-item {
            display: inline-block;
            padding: 2px 8px;
            margin: 4px;
            background-color: $c2;
            border: 1px solid $c5;
            @include border-radius(20px);
            list-style: none;
        }
    }
}

.footer-row {
    background-color: $c5;
    padding:10px 0 20px 0;
}
