/*kamome-note sass*/
@import "compass/css3/border-radius";
@import "compass/css3/images";

$header_height: 320px;
$article_gap: 10px;
$c1: #CFD5DF;
$c2: #A1BFE3;
$c3: #8BB0DE;
$c4: #639DE1;
$c5: #6E7C92;

@mixin kamome-note-button-effect($border: 1px) {
    border:$border solid $c5;
    color:$c5;
    -webkit-transition: .1s;
    transition: .1s;
    &:hover {
        cursor:pointer;
        background-color:$c5;
        color: $c1;
    }
}

html {
    font-size: 14px;
}
body {
    background-color: white;
    font-weight:200;
}

.header-row {
    position: relative;
    height: $header_height;
    background-repeat: no-repeat;
    background-position:center;
    background-attachment: fixed;
    background-position: top center;
    overflow: hidden;
    margin-bottom: $article_gap;
    .site-title {
        display: inline-block;
        margin: 5px;
    }
    .site-description{
        display: inline-block;
        margin: 5px;
        &:before {
            content : '|';
        }
    }
}
div.site-branding {
    color: $c5;
    font-size:1em;
    a {
        color: inherit;
    }
}
div.header-menu {
    position: absolute;
    display:inline;
    padding-top: 5px;
    width: auto;
    height: $header_height - 30px;//h1 line diff
    overflow: scroll;
    margin-left:4em;
    &::-webkit-scrollbar {
        display:none;
    }
    ul {
        margin-left: 0;
        list-style: none;
        &#menu-all-pages {
            padding-left: 0;
        }
    }
    a {
        @include border-radius(8px);
        text-decoration: none;
        padding: .4em;
        @include kamome-note-button-effect(0);
        &:hover {
            //override button effect
            background-color:rgba($c5,.5);
        }
    }
}


.contents-grid_wrapper {
}







.post-grid_wrapper {
    position: relative;
    @media only screen and (max-width: 767px) {
        width: 90%;
    }
    width: 40%;
    height:360px;
    overflow: hidden;
    background-color: $c5;
    font-size:16px;
    color:$c1;
    display: inline-block;
    background-color: $c3;
    margin: 5px;

    a {
        color:$c1;
    }
    .entry-header {
        overflow: scroll;
        &::-webkit-scrollbar {
            display:none;
        }
        padding: 10px;
        position: absolute;
        text-align:left;
    	top: 0;
    	left: 0;
    	z-index: 2;
    	width: 100%;
    	height: 100%;
    	background: rgba($c5,.8);
    	-webkit-transition: .2s;
    	transition: .2s;
    	opacity: 0;
        &:hover {
            opacity:1;
        }
        @media only screen and (max-width: 767px) {
            opacity:0.6;
        }

        .meta-element {
            display: inline;
            margin-right: 20px;
        }

        .entry-title {
            margin: 10px 10px;
            font-size:32px;
        }
    }

    .taxonomy-title {
        display: none;
    }
    ul.taxonomy-list {
        li.taxonomy-list-item {
            display:inline;
            &+li.taxonomy-list-item {
                margin-left: 5px;
            }
        }
        margin-left: 0;
        padding-left: 0;
        list-style: none;
    }
}

.img_wrapper {
    margin-top: 100px;
    width: 100%;
    height: 360px;
}

.post-grid_wrapper.no-thumb {
    .entry-header {
        opacity:1;
    }
}

.post-grid_wrapper img {
    position:absolute;
    top:50%;
    left:50%;
    width:100%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}




.loadmore_wrapper {
    width:100%;
    text-align: center;
}

a#loadmore-button {
    display: inline-block;
    text-decoration: none;
    padding: 1em;
    margin:3em auto;
    width:80%;
    @include border-radius(40px);
    @include kamome-note-button-effect();
}


.sidebar-grid_wrapper {
    width:100%;
    display: block;
    margin: auto;
    padding: 0;
    .widget-title {
        display: none;
    }
    ul {
        margin: auto;
        width:80%;
        padding: 0;
        li.cat-item {
            display: inline-block;
            margin: 5px 4px;
            list-style: none;
            &:hover {
                cursor:auto;
            }
            a {
                padding: 4px 10px;
                @include border-radius(20px);
                @include kamome-note-button-effect();
                text-decoration: none;
                color: inherit;
            }
        }
    }
}

.footer-row {
    color: $c5;
    font-size:.8em;
    a{
        color: inherit;
    }
    padding:10px 0 20px 0;
}



//post index
span.posted-on {
    display:block;
}
span.byline {
    display:block;
}
ul.taxonomy-list{
    display:block;
    margin-bottom:0;
}
li.taxonomy-list-item {
    display:inline;
}
p.comments-link {
    margin-bottom: 0;
}
i.post-meta {
    display:inline;
    margin-right: 7px;
}
